*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: grid;
    grid-template-areas: "header"
    "body"
    "footer";
    grid-template-rows: 128px 1fr 48px;
    grid-template-columns: 1fr;
    height:100vh;

}

#header{
    display: grid;
    grid-area: header;
    background-color: rgb(57, 186, 143);
    align-items: center;
    justify-content: center;
    padding: 24px;
    font-size: 10vh;
}

#body{
    display: grid;
    grid-area: body;
    background-color: floralwhite;
    align-items: center;
    justify-content: center;
}

#footer{
    display: grid;
    grid-area: footer;
    background-color: rgb(57, 186, 143);
}

#game-container{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    background-color: cornflowerblue;
    height: 70vh;
    width: 70vh;
    gap: 8px;
}

#row-one,
#row-two,
#row-three{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 8px;
}

.game-square{
    background-color: floralwhite;;
}

.game-square:hover{
    background-color: rgb(57, 186, 143);
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}