*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: grid;
    grid-template-areas: "header"
    "body"
    "footer";
    grid-template-rows: 128px 1fr 48px;
    grid-template-columns: 1fr;
    height:100vh;

}

#header{
    display: grid;
    grid-area: header;
    background-color: rgb(57, 186, 143);
    align-items: center;
    justify-content: center;
    padding: 24px;
    font-size: 10vh;
    color: floralwhite;
}

#body{
    display: grid;
    grid-area: body;
    background-color: floralwhite;
    align-items: center;
    justify-content: center;
}

#footer{
    display: grid;
    grid-area: footer;
    background-color: rgb(57, 186, 143);
}

#select-player-container{
    display: grid;
    background-color: rgb(57, 186, 143);
    height: 40vh;
    width: 80vw;
    color: floralwhite;
    grid-template: 1fr / 1fr 1fr 1fr;
}

#div-left,
#div-right{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 25vh;
    font-weight: 900;
    -webkit-transition: color 1s, font-size 1s ease-out; /* For Safari 3.0 to 6.0 */
    transition: color 1s, font-size 1s ease-out; /* For modern browsers */
}
#div-left:hover,
#div-right:hover{
    color: cornflowerblue;
    font-size: 27vh;
}

#div-middle{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

#new-game-container{
    display: grid;
    background-color: rgb(57, 186, 143);
    height: 30vh;
    width: 65vw;
    color: floralwhite;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding: 8px;
}
#new-game-left,
#new-game-right{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 25vh;
    font-weight: 900;
    -webkit-transition: color 1s, font-size 1s ease-out; /* For Safari 3.0 to 6.0 */
    transition: color 1s, font-size 1s ease-out; /* For modern browsers */
}
#new-game-left:hover,
#new-game-right:hover{
    color: cornflowerblue;
    font-size: 27vh;
}
#new-game-middle{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 900;
}

#game-container{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    background-color: cornflowerblue;
    height: 70vh;
    width: 70vh;
    gap: 8px;
}

#row-one,
#row-two,
#row-three{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 8px;
}

.game-square{
    background-color: floralwhite;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 15vh;
    font-weight: 900;
    color: cornflowerblue;
}

.game-square:hover{
    background-color: rgb(57, 186, 143);
    -webkit-transition: color 1s, background-color 1000ms linear;
    -ms-transition: color 1s, background-color 1000ms linear;
    transition: color 1s, background-color 1000ms linear;
    color: floralwhite;
}

#win-round-board{
    display: grid;
    background-color: rgb(57, 186, 143);
    height: 20vh;
    width: 45vw;
    color: floralwhite;
    grid-template: 1fr 1fr/ 1fr;
    padding: 8px;
    border-radius: 24px;
}

#top-div-win-round-board,
#bottom-div-win-round-board{
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: 900;
}

#bottom-div-button-win-round-board{
    padding: 8px;
    background-color: floralwhite;
    color: rgb(57, 186, 143);
    border-radius: 24px;
}
#bottom-div-button-win-round-board:hover{
    background-color: cornflowerblue;
    -webkit-transition: color 1s, background-color 1000ms linear;
    -ms-transition: color 1s, background-color 1000ms linear;
    transition: color 1s, background-color 1000ms linear;
    color: floralwhite;
}